# Data Science Academy
<br> Andi Buwono
<br> 83051

In [1]:
import pandas as pd
import statistics as st
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
# import data

telco_churn = pd.read_csv('./churn.csv')

# dataset size
telco_churn.shape

(5000, 21)

In [3]:
# show data sample
telco_churn.sample(n=5, random_state=10)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
245,40,22,408,188,0,0,0,110.3,107,18.75,166.5,93,14.15,202.3,96,9.10,9.5,5,2.57,0,0
4493,46,83,510,3540,0,1,37,133.1,117,22.63,171.4,89,14.57,218.1,92,9.81,10.9,4,2.94,3,0
4583,21,104,415,4068,0,0,0,246.4,108,41.89,205.5,102,17.47,208.1,125,9.36,14.1,8,3.81,2,0
2242,5,192,415,3875,0,0,0,185.0,88,31.45,224.9,98,19.12,212.4,105,9.56,11.4,3,3.08,2,0
3407,5,93,415,1000,0,0,0,120.6,104,20.50,205.5,95,17.47,182.5,107,8.21,9.6,6,2.59,2,0

In [4]:
# check missing data
telco_churn.isna().sum()

state                            0
account_length                   0
area_code                        0
phone_number                     0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
class                            0
dtype: int64

# 5 Insight 'Churned Customers' Summary

## Assumption

Based on referred [paper]('http://maukar.staff.gunadarma.ac.id/Downloads/files/44234/EBook+Data+Mining.pdf') 
<br> the last column **class** is the churn status label where **0** is **not churned** and **1** is **churned**

## Q1: what the characteristics of churn and not churn customer

In [5]:
telco_churn['churn'] = np.where(telco_churn['class'] == 1, True, False)

# we drop numeric but categorical parameter state, area_code, phone_number, international plan and voice mail plan
column_select = ['account_length', 'number_vmail_messages',
                 'total_day_minutes', 'total_day_calls', 'total_day_charge',
                 'total_eve_minutes', 'total_eve_calls', 'total_eve_charge',
                 'total_night_minutes', 'total_night_calls', 'total_night_charge',
                 'total_intl_minutes', 'total_intl_calls', 'total_intl_charge',
                 'number_customer_service_calls', 'churn']

telco_churn.loc[:, column_select].groupby('churn', as_index=True).agg('mean').reset_index().melt(id_vars = ['churn'], value_name = 'mean').sort_values(by=['churn']).reset_index(drop=True)

    churn                       variable        mean
0   False                 account_length   99.917074
1   False              total_intl_charge    2.752055
2   False               total_intl_calls    4.481947
3   False             total_intl_minutes   10.190869
4   False             total_night_charge    8.975593
5   False              total_night_calls   99.975775
6   False            total_night_minutes  199.455113
7   False  number_customer_service_calls    1.457722
8   False                total_eve_calls  100.241556
9   False              total_eve_minutes  198.805031
10  False               total_eve_charge   16.898654
11  False              total_day_minutes  175.746564
12  False               total_day_charge   29.877494
13  False                total_day_calls   99.899604
14  False          number_vmail_messages    8.291870
15   True              total_intl_charge    2.887426
16   True                 account_length  102.332390
17   True               total_intl_calls    4.151344
18   True             total_intl_minutes   10.692362
19   True          number_vmail_messages    4.496464
20   True             total_night_charge    9.273607
21   True              total_eve_minutes  211.757850
22   True              total_night_calls   99.575672
23   True              total_day_minutes  207.870580
24   True            total_night_minutes  206.078218
25   True               total_eve_charge   17.999562
26   True                total_day_calls  100.817539
27   True                total_eve_calls   99.884017
28   True               total_day_charge   35.338416
29   True  number_customer_service_calls    2.254597

## Q2: Which state has churn number and rate?

In [6]:
def f(s):
    count = s.value_counts()
    rate = count / count.sum()
    return pd.DataFrame({"count":count, "rate":rate})

rate_by_state = telco_churn.groupby("state")["churn"].apply(f).reset_index()

rate_by_state = rate_by_state[rate_by_state.level_1].sort_values(by='rate', ascending = False)
rate_by_state

     state  level_1  count      rate
9        4     True     14  0.269231
63      31     True     28  0.250000
95      47     True     24  0.244898
87      43     True     26  0.224138
53      26     True     21  0.212121
41      20     True     21  0.205882
67      33     True     17  0.188889
43      21     True     19  0.184466
33      16     True     18  0.181818
73      36     True     16  0.177778
81      40     True     16  0.175824
69      34     True     20  0.175439
45      22     True     18  0.174757
5        2     True     16  0.173913
51      25     True     17  0.171717
39      19     True     17  0.165049
13       6     True     16  0.161616
47      23     True     20  0.160000
17       8     True     15  0.159574
75      37     True     18  0.157895
85      42     True     14  0.157303
35      17     True     15  0.151515
31      15     True     14  0.142857
89      44     True     16  0.142857
83      41     True     12  0.141176
99      49     True     22  0.139241
19       9     True     12  0.133333
55      27     True     12  0.131868
71      35     True     15  0.129310
49      24     True     12  0.129032
61      30     True     12  0.126316
21      10     True     10  0.120482
27      13     True     14  0.117647
25      12     True      8  0.115942
11       5     True     11  0.114583
57      28     True     10  0.113636
65      32     True     10  0.109890
3        1     True     13  0.104839
77      38     True      8  0.103896
15       7     True      9  0.102273
7        3     True      9  0.101124
93      46     True     10  0.099010
101     50     True     11  0.095652
37      18     True      7  0.085366
29      14     True      7  0.079545
97      48     True      8  0.075472
79      39     True      7  0.070707
1        0     True      5  0.069444
59      29     True      6  0.068182
23      11     True      5  0.058140
91      45     True      6  0.050847

## Q3:

In [7]:
def f(s):
    count = s.value_counts()
    rate = count / count.sum()
    return pd.DataFrame({"count":count, "rate":rate})

rate_by_int_plan = telco_churn.groupby("international_plan")["churn"].apply(f).reset_index()

rate_by_int_plan = rate_by_int_plan[rate_by_int_plan.level_1].sort_values(by='rate', ascending = False)
rate_by_int_plan

   international_plan  level_1  count      rate
3                   1     True    199  0.420719
1                   0     True    508  0.112216

In [8]:
def f(s):
    count = s.value_counts()
    rate = count / count.sum()
    return pd.DataFrame({"count":count, "rate":rate})

rate_by_voice_mail_plan = telco_churn.groupby("voice_mail_plan")["churn"].apply(f).reset_index()

rate_by_voice_mail_plan = rate_by_voice_mail_plan[rate_by_voice_mail_plan.level_1].sort_values(by='rate', ascending = False)
rate_by_voice_mail_plan

   voice_mail_plan  level_1  count      rate
1                0     True    605  0.164536
3                1     True    102  0.077098

## Q4: What parameter that highly correlated with churn status (column **class**)

In [9]:
correlation_parameter = pd.DataFrame(telco_churn.corrwith(telco_churn['class'])).reset_index()

correlation_parameter.columns = ['parameter', 'correlation_value']

correlation_parameter['absolute_Corr'] = correlation_parameter.correlation_value.abs()

correlation_parameter.sort_values(by='absolute_Corr', ascending=False)

                        parameter  correlation_value  absolute_Corr
21                          churn           1.000000       1.000000
20                          class           1.000000       1.000000
4              international_plan           0.259123       0.259123
19  number_customer_service_calls           0.212564       0.212564
7               total_day_minutes           0.207705       0.207705
9                total_day_charge           0.207700       0.207700
5                 voice_mail_plan          -0.110698       0.110698
6           number_vmail_messages          -0.097633       0.097633
10              total_eve_minutes           0.089288       0.089288
12               total_eve_charge           0.089282       0.089282
16             total_intl_minutes           0.063285       0.063285
18              total_intl_charge           0.063275       0.063275
17               total_intl_calls          -0.046893       0.046893
13            total_night_minutes           0.045677       0.045677
15             total_night_charge           0.045673       0.045673
1                  account_length           0.021203       0.021203
8                 total_day_calls           0.016130       0.016130
3                    phone_number           0.012371       0.012371
2                       area_code           0.010195       0.010195
14              total_night_calls          -0.006986       0.006986
0                           state           0.006946       0.006946
11                total_eve_calls          -0.006284       0.006284

## Q5: What do you think that can be indication for soon to be churned subscriber?

a subscriber that:

* has international plan 
* repeatedly calls customer service
* higher total day minutes
* lower vmail messages